# EditorConfig: https://editorconfig.org
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
charset = utf-8

# Markdown
# https://github.com/google/styleguide/blob/gh-pages/docguide/style.md
[*.md]
trim_trailing_whitespace = false
indent_style = space
indent_size = 2

# YAML
[{*.yml,*.yaml}]
indent_style = space
indent_size = 2

# YAML files without extension
[{.ansible-lint,.yamllint}]
indent_style = space
indent_size = 2

# JSON
[*.json]
indent_style = space
indent_size = 2

# Javascript
# https://google.github.io/styleguide/jsguide.html
[*.js]
indent_style = space
indent_size = 2

# Dockerfile
[{Dockerfile,Dockerfile.template}]
indent_style = space
indent_size = 2

# Makefile
[Makefile]
indent_style = tab
indent_size = 2
