# -*- mode: yaml -*-
# vim:ts=2:sw=2:ai:si:syntax=yaml
---
minimum_pre_commit_version: 2.0.0

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks.git
    rev: v2.2.3
    hooks:
      - id: check-executables-have-shebangs
      - id: check-byte-order-marker
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: trailing-whitespace
        args: ["--markdown-linebreak-ext=md"]
      - id: end-of-file-fixer
      - id: mixed-line-ending
        args: ["--fix=lf"]
      - id: check-yaml

  # Format JSON, Markdown and YAML files with Prettier.
  - repo: https://github.com/prettier/prettier
    rev: "1.19.1"
    hooks:
      - id: prettier
        name: Format JSON, Markdown and YAML files
        files: "\\.(\
          json\
          |md|markdown|mdown|mkdn\
          |yaml|yml\
          )$"
        # Do not run on Git push
        stages: [commit]
        verbose: false

  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.16.0
    hooks:
      - id: yamllint

  - repo: https://github.com/ansible/ansible-lint.git
    rev: v4.3.3
    hooks:
      - id: ansible-lint
        files: \.(yaml|yml)$

  - repo: https://github.com/syntaqx/git-hooks
    rev: v0.0.17
    hooks:
      - id: shellcheck
      - id: shfmt
        args: ["-l", "-i", "4", "-ci", "-w"]

  - repo: https://github.com/openstack-dev/bashate.git
    rev: "0.6.0"
    hooks:
      - id: bashate
        verbose: false

  - repo: https://github.com/igorshubovych/markdownlint-cli.git
    rev: v0.17.0
    hooks:
      - id: markdownlint

  - repo: https://github.com/psf/black
    rev: 20.8b1
    hooks:
      - id: black
        # Do not run on Git push
        stages: [commit]

  - repo: https://gitlab.com/pycqa/flake8
    rev: 3.8.3
    hooks:
      - id: flake8

  - repo: https://github.com/PyCQA/bandit
    rev: 1.6.2
    hooks:
      - id: bandit

  # Validate Python code with pylint using local environment
  # to avoid 'import-error' issues.
  - repo: local
    hooks:
      - id: pylint
        name: Lint Python files with pylint
        entry: python -m pylint
        types: [python]
        language: system
        require_serial: false

  - repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook.git
    rev: "2.0.0"
    hooks:
      - id: commitlint
        stages: [commit-msg]
        additional_dependencies: ["@commitlint/config-conventional"]
        verbose: false
